*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  text-align: center;
  height: 10vh;
}

h2 {
  font-size: 1.15rem;
  font-weight: lighter;
}

#tooltip {
  position: absolute;
  background-color: #000;
  padding: 1.24rem;
  border: 1px solid white;
  border-radius: 10px;
  color: #fff;
  pointer-events: none;
}

svg {
  font-size: 0.65rem;
  text-align: center;
  display: block;
}

#legend {
  font-size: 0.75rem;
}

.tile-text:hover {
  cursor: default;
}
